/* by German Ayala */
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
:root {
  --main-color: #010c18;
  --text-color: #f7f7f7;
  --sub-color: #06763f;
  --hl-color: #e07a5f;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Poiret One", sans-serif;
  color: var(--text-color);
  scrollbar-gutter: stable;
}
  
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--main-color);
  font-size: 20px;
}

.container {
  display: grid;
  min-height: 100vh; 
  grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 10px;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
    width: 60%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: auto;
}

main {
  width: 60%;
  margin: auto;
}

.hero {
  width: 40%;
}

.hero img {
  width: 75px;
}

.navbar {
  text-align: center;
  width: 60%;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
}

.nav-link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
}
/* Nav link underline effect */
.nav-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hl-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

textarea {
  height: 250px;
  width: 100%;
  resize: none;
}

.form {
  padding: 10px;
  margin: 100px auto;
  width: 80%;
}
.form form {
  padding: 10px;
}

input[type="text"] {
  width: 300px; 
}

.welcome-section {
  margin: 100px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.welcome {
  font-size: 50px;
  font-weight: bold;
}

.pfp img {
  max-width: 300px;
  border-radius: 50%;
  border: 5px solid var(--sub-color);
  transition: border 0.3s ease-in-out;
}

.pfp img:hover {
  border: 5px solid var(--hl-color);
}

.projects {
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  gap: 20px;
  padding: 20px;
  text-align: center;
  margin: 20px auto;
}

.projects-grid img {
  width: 80%;
  padding: 10px;
  margin: auto;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-tile {
  width: 100%;
  height: 100%;
  border: 2px solid #e07a5f;
  border-radius: 10px;
  background-color: var(--sub-color);
}

.project-tile p {
  font-size: 1em;
  padding: 1.5rem .5rem;
}

.all-projects {
  background: var(--sub-color);
  padding: 15px 40px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
  transition: background 0.3s ease-out;
}

.all-projects:hover {
  background-color: var(--hl-color) ;
}

/* Footer styling */
footer {
  width: 60%;
  text-align: center;
  margin: 20px auto;
}

.contact-me {
  margin: 20px auto;
  text-align: center;
}

.profiles {
  display: flex;
  justify-content: space-evenly;
}

.copy {
  font-size: 16px;
}

.profile-link:hover {
  color: var(--hl-color);
}

/* CSS for a blinking cursor on name paragraph*/
.welcome::after {
  content: " |"; 
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* MOBILE */
@media (max-width: 650px) {
  .welcome-section {
    display: inline-block;
    text-align: center;
    margin: 20px;
    max-width: 100%;
  }
  .about-img img {
    margin: 20px auto;
  }
  .navbar ul{
    flex-direction: column;
    align-items: center;
  }
  .navbar ul li{
    padding: 5px;
  }
  header {
    position: relative;
  }

  .profiles {
    flex-direction: column;     
  }
  .profiles a {
    margin-bottom: 10px;
  }

}

@media (max-width: 700px) {
  .projects {
    display: inline-block;
    max-width: 100%;
    margin: 20px;
  }
  .projects-grid {
    display: inline-block;
  }
  .project-tile {
    border: none;
  }
}